# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# Django
db.sqlite3
media/uploads/

# React
node_modules/
build/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
